html {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg,#020024,#090979,#00D4ff);
  text-align: center;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.App {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

h1 {
    margin-top: 5px;
    padding: 10px;
    height: 50px;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(90deg,#020024,#090979,#00D4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;

    

}

fieldset {
    border: none;
}

input{
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 12px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline;
    width: 10%;
}

select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

label {
    font-size: 20px;
    display: block;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: center;
    background: linear-gradient(90deg,#020024,#090979,#00D4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

button {
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background: linear-gradient(90deg,#020024,#090979,#00D4ff);
    width: 40%;
    font-size: 16px;
}

textarea {
    resize: none;
    width: 100%;
     box-sizing: border-box;
    min-height: 100px;
    max-height: 150px;
}

input,textarea{
  border-radius: 10px;
}
input[type="text"],input[type="email"],input[type="tel"]{
  height: 40px;
}

.success-msg {
  color: green;
  font-weight: bold;
  margin-bottom: 10px;
}

.result {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background: #f9f9f9;
  text-align: left;
}

.result h2 {
  text-align: center;
  margin-bottom: 10px;
}

.result p {
  margin: 5px 0;
}